# Build artifacts
*.exe
*.o
*.pdb
*.ilk
*.log

# VS Code
.vscode/

# Raylib / temp
*.dll
*.lib
*.tmp

# OS junk
Thumbs.db
Desktop.ini

# Archives
*.zip

# Allow asset models
!resources/models/*.obj
!resources/models/*.mtl
!resources/models/*.fbx
!resources/models/*.3ds